:root {
	
	--shades-light-col: #fafafa;
	--acc-light-col: #EABD55;
	--main-col: #C14E5B;
	--acc-dark-col: #979395;
	--shades-dark-col: #2E3433;

	--font-light-col: var(--shades-light-col);
	--shade-for-dark-col: #626262;
	--shade-for-light-col: #a0a0a0;

	--btn-hover-acc-light: #ddb14e;
	--list-item-hover: #e7e7e7;

	--modal-overlay: rgba(46, 52, 51, 0.527);

	/* --bg-color-light: var(--shades-light-col);
	--bg-color-dark: var(--asc-dark-col); */

	


	/* --d: #CF6B8F;
	--da: #2F2B50; */
}